.foo {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, .2);

}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.addons {
  margin-top: 10px;
  padding: 5px;
}

